# electron 二进制下载镜像（国内加速）
electron_mirror=https://npmmirror.com/mirrors/electron/

# electron-builder 打包工具（NSIS、winCodeSign 等）镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
